body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
  padding: 0;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  color: #333;
  font: normal normal normal 28px/40px 'Microsoft YaHei', Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz--tap-highlight-color: rgba(0, 0, 0, 0);
  -o--tap-highlight-color: rgba(0, 0, 0, 0);
}
img {
  border: 0;
  display: block;
}
input[type="text"],
input[type="password"],
textarea,
button {
  vertical-align: middle;
  -webkit-appearance: none;
  font-family: 'Microsoft YaHei', Arial, sans-serif;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}
table {
  border: 0;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
table td {
  padding: 0;
}
textarea {
  resize: none;
}
.clearFix:before,
.clearFix:after {
  content: " ";
  display: table;
}
.clearFix:after {
  clear: both;
}
.pullLeft {
  float: left;
}
.pullRight {
  float: right;
}
.textCenter {
  text-align: center;
}
.textRight {
  text-align: right;
}
.ellipsisNormal {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container {
  overflow: hidden;
  position: relative;
}
.header {
  width: 1200px;
  height: 160px;
  margin: auto;
  display: flex;
}
.header .header-logo {
  width: 20%;
  float: left;
  padding-top: 37px;
}
.header .header-logo p {
  font-size: 17px;
  padding-left: 10px;
}
.header .header-nav {
  width: 65%;
  display: flex;
  padding-top: 62px;
  font-size: 16px;
  float: left;
}
.header .header-nav .header-nav-item {
  width: 20%;
  text-align: center;
  font-weight: 400;
  float: left;
}
.header .header-nav .header-nav-item:last-child {
  text-align: center;
  font-weight: 400;
}
.header .header-nav .header-nav-item:last-child a {
  font-size: 20px;
  color: #FAA319;
  border-bottom: #FAA319 4px solid;
  padding-bottom: 8px;
  font-weight: bold;
}
.header .header-en {
  float: left;
  font-size: 16px;
  padding-top: 62px;
  margin-left: 3%;
  width: 12%;
}
.header .header-en .header-en-span1 {
  float: left;
}
.header .header-en .header-en-a1 {
  margin-right: 10px;
  margin-left: 5px;
  float: left;
}
.header .header-en .header-en-a2 {
  margin-left: 10px;
  margin-right: 5px;
  color: #FE8901;
  float: left;
}
.header .header-en .hader-en-sx {
  height: 10px;
  border-right: 1px #2d2b2b solid;
  margin-top: 15px;
  float: left;
}
.content .module1 {
  background: url(../img/9_2.png) no-repeat;
  background-size: 100% 100%;
  height: 660px;
}
.content .module1 .module1-con {
  width: 1200px;
  margin: auto;
}
.content .module1 .module1-con .module1-con-header {
  padding-top: 60px;
}
.content .module1 .module1-con .module1-con-header img {
  margin: auto;
}
.content .module1 .module1-con .module1-con-con {
  padding-top: 85px;
}
.content .module1 .module1-con .module1-con-con img {
  margin: auto;
}
.content .module2 {
  height: 770px;
}
.content .module2 .module2-con {
  width: 1200px;
  margin: auto;
}
.content .module2 .module2-con .module2-con-header {
  padding-top: 80px;
}
.content .module2 .module2-con .module2-con-header img {
  margin: auto;
}
.content .module2 .module2-con .module2-con-con {
  padding-top: 75px;
}
.content .module2 .module2-con .module2-con-con img {
  margin: auto;
}
.content .module3 {
  background: url(../img/9_7.png) no-repeat;
  background-size: 100% 100%;
  height: 1710px;
}
.content .module3 .module3-con {
  width: 1200px;
  margin: auto;
}
.content .module3 .module3-con .module3-con-header {
  padding-top: 70px;
  padding-bottom: 120px;
}
.content .module3 .module3-con .module3-con-header img {
  margin: auto;
}
.content .module3 .module3-con .module3-con-middel {
  width: 1200px;
  height: 400px;
  background: #ffffff;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.17);
  border-radius: 8px;
}
.content .module3 .module3-con .module3-con-middel .module3-con-middel-left {
  float: left;
  position: relative;
  width: 600px;
  height: 400px;
}
.content .module3 .module3-con .module3-con-middel .module3-con-middel-left img {
  position: absolute;
  top: -54px;
  left: 170px;
}
.content .module3 .module3-con .module3-con-middel .module3-con-middel-right {
  width: 600px;
  float: left;
}
.content .module3 .module3-con .module3-con-middel .module3-con-middel-right .module3-con-middel-right-header {
  padding-top: 70px;
  font-size: 30px;
  font-weight: bold;
  color: #FF8900;
}
.content .module3 .module3-con .module3-con-middel .module3-con-middel-right .module3-con-middel-right-header span {
  font-size: 20px;
}
.content .module3 .module3-con .module3-con-middel .module3-con-middel-right-text {
  padding-top: 25px;
  font-size: 20px;
  color: #666;
}
.content .module3 .module3-con .module3-con-middel .module3-con-middel-right-text ul li {
  position: relative;
  line-height: 34px;
}
.content .module3 .module3-con .module3-con-middel .module3-con-middel-right-text ul li span {
  position: absolute;
  left: -20px;
  font-size: 14px;
}
.content .module3 .module3-con .module3-con-con {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
}
.content .module3 .module3-con .module3-con-con .item {
  height: 425px;
  width: 373px;
  background: #ffffff;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.17);
  border-radius: 8px;
  margin-right: 40px;
  margin-bottom: 50px;
  float: left;
}
.content .module3 .module3-con .module3-con-con .item .item-img {
  max-height: 113px;
  max-width: 113px;
  margin: auto;
  padding-top: 30px;
}
.content .module3 .module3-con .module3-con-con .item .item-name {
  padding-top: 20px;
  font-size: 16px;
  line-height: 25px;
  color: #FE8901;
  text-align: center;
}
.content .module3 .module3-con .module3-con-con .item .item-name p {
  font-size: 20px;
  font-weight: bold;
}
.content .module3 .module3-con .module3-con-con .item .item-text {
  margin-top: 10px;
  line-height: 19px;
  color: #666666;
  font-size: 14px;
  width: 350px;
}
.content .module3 .module3-con .module3-con-con .item .item-text ul li {
  margin-left: 35px;
  margin-right: 10px;
  line-height: 26px;
  position: relative;
}
.content .module3 .module3-con .module3-con-con .item .item-text ul li span {
  position: absolute;
  left: -20px;
  font-size: 14px;
}
.content .module3 .module3-con .module3-con-con .item:nth-child(3n) {
  margin-right: 0px;
}
.content .module4 {
  height: 890px;
}
.content .module4 .module4-con {
  width: 1200px;
  margin: auto;
}
.content .module4 .module4-con .module4-con-header {
  padding-top: 80px;
}
.content .module4 .module4-con .module4-con-header img {
  margin: auto;
}
.content .module4 .module4-con .module4-con-con {
  padding-top: 75px;
}
.content .module4 .module4-con .module4-con-con img {
  margin: auto;
}
.content .module5 {
  background: url(../img/9_2.png) no-repeat;
  background-size: 100% 100%;
  height: 600px;
}
.content .module5 .module5-con {
  width: 1200px;
  margin: auto;
}
.content .module5 .module5-con .module5-con-header {
  padding-top: 60px;
}
.content .module5 .module5-con .module5-con-header img {
  margin: auto;
}
.content .module5 .module5-con .module5-con-con {
  padding-top: 85px;
}
.content .module5 .module5-con .module5-con-con img {
  margin: auto;
}
.content .module6 {
  height: 770px;
}
.content .module6 .module6-con {
  width: 1200px;
  margin: auto;
}
.content .module6 .module6-con .module6-con-header {
  padding-top: 80px;
}
.content .module6 .module6-con .module6-con-header img {
  margin: auto;
}
.content .module6 .module6-con .module6-con-con {
  padding-top: 75px;
}
.content .module6 .module6-con .module6-con-con img {
  margin: auto;
}
.content .module7 {
  background: url(../img/9_2.png) no-repeat;
  background-size: 100% 100%;
  height: 610px;
}
.content .module7 .module7-con {
  width: 1200px;
  margin: auto;
}
.content .module7 .module7-con .module7-con-header {
  padding-top: 60px;
}
.content .module7 .module7-con .module7-con-header img {
  margin: auto;
}
.content .module7 .module7-con .module7-con-con {
  padding-top: 70px;
  display: flex;
  float: left;
  width: 33.3333%;
}
.content .module7 .module7-con .module7-con-con img {
  margin: auto;
}
.content .module8 {
  height: 960px;
}
.content .module8 .module8-con {
  width: 1200px;
  margin: auto;
}
.content .module8 .module8-con .module8-con-header {
  padding-top: 80px;
}
.content .module8 .module8-con .module8-con-header img {
  margin: auto;
}
.content .module8 .module8-con .module8-con-con {
  padding-top: 75px;
}
.content .module8 .module8-con .module8-con-con img {
  margin: auto;
}
.footer {
  color: #333333;
  float: left;
  width: 100%;
}
.footer .footer-con {
  width: 1200px;
  margin: auto;
  display: flex;
  padding-top: 90px;
}
.footer .footer-con .footer-con-lxwm {
  width: 40%;
  float: left;
}
.footer .footer-con .footer-con-lxwm .footer-con-lxwm-header {
  font-weight: bolder;
  font-size: 22px;
  height: 70px;
}
.footer .footer-con .footer-con-lxwm .footer-con-lxwm-con {
  display: flex;
  font-size: 16px;
  float: left;
}
.footer .footer-con .footer-con-lxwm .footer-con-lxwm-con .footer-con-lxwm-con-left {
  width: 80px;
  float: left;
}
.footer .footer-con .footer-con-lxwm .footer-con-lxwm-con .footer-con-lxwm-con-right {
  width: 280px;
  float: left;
}
.footer .footer-con .footer-con-lxwm .footer-con-lxwm-con:last-child {
  line-height: 25px;
  padding-top: 5px;
}
.footer .footer-con .footer-con-gzh {
  width: 35%;
  float: left;
}
.footer .footer-con .footer-con-gzh .footer-con-gzh-header {
  font-weight: bolder;
  font-size: 22px;
  height: 70px;
  margin-left: 6px;
}
.footer .footer-con .footer-con-kefu {
  width: 25%;
  float: left;
}
.footer .footer-con .footer-con-kefu .footer-con-kefu-header {
  font-weight: bolder;
  font-size: 22px;
  height: 70px;
  padding-left: 6px;
}
.footer .footer-con .footer-con-kefu .footer-con-kefu-con {
  padding-left: 6px;
}
.footer .footer-con .footer-con-kefu .footer-con-kefu-con p {
  font-size: 16px;
}
.footer .footer-con .footer-con-kefu .footer-con-kefu-bottom .footer-con-kefu-bottom-item {
  width: 33.3333%;
  float: left;
  text-align: center;
}
.footer .footer-con .footer-con-kefu .footer-con-kefu-bottom .footer-con-kefu-bottom-item img {
  margin: auto;
}
.footer .footer-con .footer-con-kefu .footer-con-kefu-bottom .footer-con-kefu-bottom-item p {
  font-size: 16px;
}
.footer .footer-text {
  float: left;
  margin-top: 100px;
  color: #ffffff;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
  background: #201F1F;
  width: 100%;
}
.footer .footer-text sup {
  font-size: 14px;
}
.fudong {
  position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: 999;
}
.fudong img {
  height: 210px;
  width: 200px;
}
