body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
  padding: 0;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  color: #333;
  font: normal normal normal 28px/40px 'Microsoft YaHei', Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz--tap-highlight-color: rgba(0, 0, 0, 0);
  -o--tap-highlight-color: rgba(0, 0, 0, 0);
}
img {
  border: 0;
  display: block;
}
input[type="text"],
input[type="password"],
textarea,
button {
  vertical-align: middle;
  -webkit-appearance: none;
  font-family: 'Microsoft YaHei', Arial, sans-serif;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}
table {
  border: 0;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
table td {
  padding: 0;
}
textarea {
  resize: none;
}
.clearFix:before,
.clearFix:after {
  content: " ";
  display: table;
}
.clearFix:after {
  clear: both;
}
.pullLeft {
  float: left;
}
.pullRight {
  float: right;
}
.textCenter {
  text-align: center;
}
.textRight {
  text-align: right;
}
.ellipsisNormal {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container {
  overflow: hidden;
  position: relative;
}
.header {
  width: 1200px;
  height: 160px;
  margin: auto;
  display: flex;
  position: relative;
}
.header .header-logo {
  width: 20%;
  padding-top: 37px;
}
.header .header-logo p {
  margin-top: 5px;
  font-size: 17px;
  line-height: 20px;
}
.header .header-nav {
  width: 80%;
  display: flex;
  padding-top: 62px;
  font-size: 16px;
}
.header .header-nav .header-nav-item {
  width: 50%;
  text-align: right;
  font-weight: 400;
}
.header .header-nav .header-nav-item:first-child {
  width: 50%;
  text-align: right;
  font-weight: 400;
}
.header .header-nav .header-nav-item:first-child a {
  font-size: 20px;
  color: #FAA319;
  border-bottom: #FAA319 4px solid;
  width: 80px;
  padding-bottom: 8px;
  font-weight: bold;
}
.header .header-en {
  position: absolute;
  right: -200px;
  top: 62px;
  font-size: 16px;
  display: flex;
}
.header .header-en a:first-child {
  margin-right: 10px;
  margin-left: 5px;
}
.header .header-en a:last-child {
  margin-left: 10px;
  margin-right: 5px;
  color: #FE8901;
}
.header .header-en .hader-en-sx {
  height: 10px;
  border-right: 1px #2d2b2b solid;
  display: block;
  margin-top: 15px;
}
.banner img {
  width: 100%;
  height: 458px;
}
.con {
  width: 1200px;
  margin: auto;
}
.con .con-nav {
  margin-top: 60px;
  display: flex;
}
.con .con-nav .con-nav-item {
  margin-right: 19px;
  position: relative;
  line-height: 30px;
}
.con .con-nav .con-nav-item .tex {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 16px;
  color: #333;
}
.con .con-nav .con-nav-item .tex span {
  color: #666;
  font-weight: bold;
  display: block;
}
.con .con-nav .con-nav-item .tex p {
  width: 190px;
  line-height: 20px;
  padding-top: 5px;
  margin: auto;
}
.con .con-nav .con-nav-item .btn {
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  font-size: 16px;
  text-align: center;
  height: 30px;
  width: 170px;
  margin: auto;
  line-height: 30px;
  color: #ffffff;
  border-radius: 15px;
}
.con .con-nav .con-nav-item:first-child .btn {
  background: #F95E0B;
}
.con .con-nav .con-nav-item:nth-child(2) .btn {
  background: #FF6877;
}
.con .con-nav .con-nav-item:nth-child(3) .btn {
  background: #54BE02;
}
.con .con-nav .con-nav-item:last-child {
  margin: none;
}
.con .con-nav .con-nav-item:last-child .btn {
  background: #5D8AFF;
}
.con .con-nav .con-nav-item:hover {
  box-shadow: 0px 0px 10px 0px #aaa;
}
.con .con-dpjd .con-dpjd-nav {
  margin: 70px 0 30px 0;
}
.con .con-dpjd .con-dpjd-banner {
  background: url(../img/1_25.png) no-repeat;
  background-size: 100% 100%;
  height: 300px;
  width: 1200px;
  position: relative;
}
.con .con-dpjd .con-dpjd-sp {
  margin-top: 20px;
  display: flex;
}
.con .con-dpjd .con-dpjd-sp .item {
  width: 16.6666%;
  font-size: 16px;
  position: relative;
}
.con .con-dpjd .con-dpjd-sp .item .item-click img {
  margin: auto;
}
.con .con-dpjd .con-dpjd-sp .item .item-click p {
  padding-top: 10px;
  line-height: normal;
  color: #333333;
  width: 160px;
  margin: auto;
  margin-left: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 16px;
  height: 43px;
}
.con .con-dpjd .con-dpjd-sp .item .item-click span {
  color: #ef000e;
  margin-left: 15px;
  font-weight: bold;
}
.con .con-dpjd .con-dpjd-sp .item .item-hover {
  position: absolute;
  top: 0px;
  left: 10px;
  right: 0;
  bottom: 0;
  display: none;
  height: 260px;
  width: 180px;
  box-shadow: 0px 5px 5px 5px #ddd;
  background: #fff;
}
.con .con-dpjd .con-dpjd-sp .item .item-hover img {
  padding-top: 20px;
  width: 150px;
  height: 150px;
  margin: auto;
  padding-bottom: 10px;
}
.con .con-dpjd .con-dpjd-sp .item .item-hover p {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: #ff8b04;
  line-height: 30px;
}
.con .con-xpsf .con-xpsf-nav {
  margin: 70px 0 30px 0;
}
.con .con-xpsf .con-xpsf-banner {
  background: url(../img/1_25.png) no-repeat;
  background-size: 100% 100%;
  height: 300px;
  width: 1200px;
  position: relative;
}
.con .con-xpsf .con-xpsf-sp {
  margin-top: 20px;
  display: flex;
}
.con .con-xpsf .con-xpsf-sp .item {
  width: 16.6666%;
  font-size: 16px;
  position: relative;
}
.con .con-xpsf .con-xpsf-sp .item .item-click img {
  margin: auto;
}
.con .con-xpsf .con-xpsf-sp .item .item-click p {
  padding-top: 10px;
  line-height: normal;
  color: #333333;
  width: 160px;
  margin: auto;
  margin-left: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 16px;
  height: 43px;
}
.con .con-xpsf .con-xpsf-sp .item .item-click span {
  color: #ef000e;
  margin-left: 15px;
  font-weight: bold;
}
.con .con-xpsf .con-xpsf-sp .item .item-hover {
  position: absolute;
  top: 0px;
  left: 10px;
  right: 0;
  bottom: 0;
  display: none;
  height: 260px;
  width: 180px;
  box-shadow: 0px 5px 5px 5px #ddd;
  background: #fff;
}
.con .con-xpsf .con-xpsf-sp .item .item-hover img {
  padding-top: 20px;
  width: 150px;
  height: 150px;
  margin: auto;
  padding-bottom: 10px;
}
.con .con-xpsf .con-xpsf-sp .item .item-hover p {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: #ff8b04;
  line-height: 30px;
}
.con .con-yjsh .con-yjsh-nav {
  margin: 70px 0 30px 0;
}
.con .con-yjsh .con-yjsh-sp {
  margin-top: 20px;
  display: flex;
  position: relative;
}
.con .con-yjsh .con-yjsh-sp .item {
  width: 16.6666%;
  font-size: 16px;
  position: relative;
}
.con .con-yjsh .con-yjsh-sp .item .item-click img {
  margin: auto;
}
.con .con-yjsh .con-yjsh-sp .item .item-click p {
  padding-top: 10px;
  line-height: normal;
  color: #333333;
  width: 160px;
  margin: auto;
  margin-left: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 16px;
  height: 43px;
}
.con .con-yjsh .con-yjsh-sp .item .item-click span {
  color: #ef000e;
  margin-left: 15px;
  font-weight: bold;
}
.con .con-yjsh .con-yjsh-sp .item .item-hover {
  position: absolute;
  top: 0px;
  left: 10px;
  right: 0;
  bottom: 0;
  display: none;
  height: 260px;
  width: 180px;
  box-shadow: 0px 5px 5px 5px #ddd;
  background: #fff;
}
.con .con-yjsh .con-yjsh-sp .item .item-hover img {
  padding-top: 20px;
  width: 150px;
  height: 150px;
  margin: auto;
  padding-bottom: 10px;
}
.con .con-yjsh .con-yjsh-sp .item .item-hover p {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: #ff8b04;
  line-height: 30px;
}
.footer {
  margin-top: 90px;
  color: #333333;
}
.footer .footer-con {
  width: 1200px;
  margin: auto;
  display: flex;
}
.footer .footer-con .footer-con-lxwm {
  width: 35%;
}
.footer .footer-con .footer-con-lxwm .footer-con-lxwm-header {
  font-weight: bolder;
  font-size: 22px;
  height: 70px;
}
.footer .footer-con .footer-con-lxwm .footer-con-lxwm-con {
  display: flex;
  font-size: 16px;
}
.footer .footer-con .footer-con-lxwm .footer-con-lxwm-con .footer-con-lxwm-con-left {
  font-weight: bold;
}
.footer .footer-con .footer-con-lxwm .footer-con-lxwm-address {
  font-size: 16px;
}
.footer .footer-con .footer-con-lxwm .footer-con-lxwm-address p:first-child {
  font-weight: bold;
}
.footer .footer-con .footer-con-gzh {
  width: 30%;
}
.footer .footer-con .footer-con-gzh .footer-con-gzh-header {
  font-weight: bolder;
  font-size: 22px;
  height: 70px;
}
.footer .footer-con .footer-con-gzh .footer-con-gzh-con img {
  margin: auto;
}
.footer .footer-con .footer-con-kefu {
  width: 26%;
  margin-left: 9%;
}
.footer .footer-con .footer-con-kefu .footer-con-kefu-header {
  font-weight: bolder;
  font-size: 22px;
  height: 70px;
}
.footer .footer-con .footer-con-kefu .footer-con-kefu-con p {
  font-size: 16px;
}
.footer .footer-text {
  margin-top: 100px;
  color: #ffffff;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
  background: #201F1F;
}
.footer .footer-text sup {
  font-size: 14px;
}
.fudong {
  position: fixed;
  right: 40px;
  top: 570px;
  z-index: 999;
}
