<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="../css/adoption.css">

</head>

<body>
    <div class="container">
        <div class="header">

            <div class="header-con">
                <div class="header-logo">
                    <img src="../img/8_1.png" alt="">
                    <p> 中国订单农业践行者</p>
                </div>

                <div class="header-nav">
                    <div class="header-nav-item"><a href="../view/index.html"> 首页</a></div>
                    <div class="header-nav-item"><a href="../view/canteen.html">务农食堂</a></div>
                    <div class="header-nav-item"><a href="../view/base.html">务农基地</a></div>
                    <div class="header-nav-item"><a href="../view/news.html">新闻资讯</a></div>
                    <div class="header-nav-item"><a href="../view/aboutus.html">关于我们</a></div>
                </div>
                <!-- 中英文 -->
                <div class="header-en">
                    [<a href="../view/adoption.html">中文</a><span class="hader-en-sx" style="height: 10px;"></span> <a
                        href="../view/enadoption.html">English</a>]
                </div>
            </div>

        </div>

        <div class=content>
            <div class="content-text">
                首页><span>物农认养</span>
            </div>

            <div class="content-nav">
                <img src="../img/3_1.png" alt="">
            </div>

            <div class="content-con">
                <div class="content-con-left">
                    <img src="../imgen/5_2.png" alt="" srcset="">
                </div>

                <a href="https://mp.weixin.qq.com/s/xSSSFNnbIAi9XFI2xIzrDw" class="content-con-right">
                    <div class="content-con-right-title">
                        土鸡认养正式启动，养了只鸡，蛋都是你的！
                    </div>

                    <div class="content-con-right-con">
                        物农土鸡认养活动正式启动了！保准您吃到最新鲜、放心、可口的鸡蛋和鸡肉！
                        <span>[阅读全文]</span>
                    </div>

                    <div class="content-con-right-bottom">发布时间：2019-06-25</div>
                </a>
            </div>

            <!-- 点击加载更多 -->
            <!-- <div class="content-jiazai">
                加载更多
            </div> -->
        </div>

        <div class="footer">

            <div class="footer-con">

                <div class="footer-con-lxwm">
                    <div class="footer-con-lxwm-header">联系我们</div>
                    <div class="footer-con-lxwm-con">
                        <div class="footer-con-lxwm-con-left">客服电话</div>
                        <div class="footer-con-lxwm-con-right">400-808-4108</div>
                    </div>
                    <div class="footer-con-lxwm-con">
                        <div class="footer-con-lxwm-con-left">邮箱地址</div>
                        <div class="footer-con-lxwm-con-right">WNW108@wnw108.com</div>
                    </div>
                    <div class="footer-con-lxwm-con">
                        <div class="footer-con-lxwm-con-left">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址</div>
                        <div class="footer-con-lxwm-con-right">
                            深圳市宝安区航程街道后瑞第二工业区南区 智创矩阵双创园第12栋第4楼B401
                        </div>
                    </div>

                </div>
                <div class="footer-con-gzh">
                    <div class="footer-con-gzh-header">物农网公众号</div>
                    <div class="footer-con-gzh-con">
                        <img src="../img/8_9.png" alt="">
                    </div>
                </div>
                <div class="footer-con-kefu">
                    <div class="footer-con-kefu-header">客服工作时间</div>
                    <div class="footer-con-kefu-con">
                        <p>周一至周日9:00-20:00</p>
                    </div>
                </div>
            </div>

            <div class="footer-text">

                2015-2016 &copy; 物农科技<sup>TM</sup> wunokeji.com ALL rights reserved.鲁ICP备14030686号-1
            </div>
        </div>
    </div>

</body>

</html>