<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Keywords" content="二维码追溯系统、二维码防伪、二维码防窜货、二维码营销、二维码促销、一物一码，一物一码追溯、一物一码防窜货、一物一码营销、防窜货、防伪"/>
    <meta name="Description" content="深圳市立信创源提供二维码营销促销解决方案，一物一码系统定制与开发，食品追溯系统方案策划；基于产品二维码建立生产质量追溯、渠道管理、防窜货、防伪、渠道营销、红包促销一体化管理系统"/>
    <title></title>
    <link rel="stylesheet" href="../css/enadoption.css">

</head>

<body>
    <!-- 物农认养 -->
    <div class="container">
        <div class="header">

            <div class="header-con">
                <a href="../view/enindex.html" class="header-logo">
                    <img src="../img/8_1.png" alt="">
                    <p>
                        Wunong China's Practitioner of Order Agriculture
                    </p>
                </a>

                <div class="header-nav">
                    <div class="header-nav-item"><a href="../view/enindex.html"> HOME</a></div>
                    <div class="header-nav-item"><a href="../view/encanteen.html">CATERING</a></div>
                    <div class="header-nav-item"><a href="../view/enbase.html">BASE</a></div>
                    <div class="header-nav-item"><a href="../view/ennews.html">NEWS</a></div>
                    <div class="header-nav-item"><a href="../view/enaboutus.html">ABOUT US</a></div>
                </div>
                <!-- 中英文 -->
                <div class="header-en">
                    <span class="header-en-span1"> [</span>
                    <a class="header-en-a1" href="../view/adoption.html">中文</a>
                    <span class="hader-en-sx"></span>
                    <a class="header-en-a2" href="../view/enadoption.html">English</a>
                    <span class="header-en-span1">]</span>
                </div>
            </div>

        </div>

        <div class=content>
            <div class="content-text">
                <a href="../view/enindex.html"> Home</a>><span>Wunong Claim Aquaculture</span>
            </div>

            <div class="content-nav">
                <img src="../imgen/5_1.png" alt="">
            </div>

            <div class="content-con">
                <div class="content-con-left">
                    <img src="../imgen/5_2.png" alt="" srcset="">
                </div>

                <a href="https://mp.weixin.qq.com/s/xSSSFNnbIAi9XFI2xIzrDw" class="content-con-right">
                    <div class="content-con-right-title">
                        The Claim Breeding of local chickens was officially
                        launched.Breed a chicken.The eggs are yours.
                    </div>

                    <div class="content-con-right-con">
                        Wunong’s local chicken Claim Breeding activity officially started! Make sure you have the latest
                        delicious eggs and chicken!
                        <span>[Read All]</span>
                    </div>

                    <div class="content-con-right-bottom">issuing time：2019-06-25</div>
                </a>
            </div>

            <!-- 点击加载更多 -->
            <!-- <div class="content-jiazai">
                加载更多
            </div> -->
        </div>

        
        <!-- 联系我们 -->

        <div class="fudong">
            <img src="../imgen/1_6.png" alt="">
        </div>
        <div class="footer">

            <div class="footer-con">

                <div class="footer-con-lxwm">
                    <div class="footer-con-lxwm-header">Contact us</div>
                    <div class="footer-con-lxwm-con">
                        <div class="footer-con-lxwm-con-left">Customer service numbers：</div>
                        <div class="footer-con-lxwm-con-right">400-808-4108</div>
                    </div>
                    <div class="footer-con-lxwm-con">
                        <div class="footer-con-lxwm-con-left">E-mail address：</div>
                        <div class="footer-con-lxwm-con-right">
                            <a href="mailto:wnw108@wnw108.com"> WNW108@wnw108.com</a>
                        </div>
                    </div>
                    <div class="footer-con-lxwm-address">
                        <p>Company Address :</p>
                        <p>B401, 4th Floor, 12th Building,</p>
                        <p> Zhichuang Matrix Shuangchuang Park,</p>
                        <p> Southern District, Hourui Second Industrial Zone,</p>
                        <p> Hangcheng Street, Baoan District, Shenzhen</p>

                    </div>

                </div>
                <div class="footer-con-gzh">
                    <div class="footer-con-gzh-header">WeChat Official Account</div>
                    <div class="footer-con-gzh-con">
                        <img src="../img/8_9.png" alt="">
                    </div>
                </div>
                <div class="footer-con-kefu">
                    <div class="footer-con-kefu-header">Customer service</div>
                    <div class="footer-con-kefu-con">
                        <p>Work hours on weekends and holidays: </p>
                        <p>9：00-18：00</p>
                    </div>
                    <div class="footer-con-kefu-bottom">

                        <!-- <div class="footer-con-kefu-bottom-item">
                            <img src="../imgen/10_1.png" alt="">
                            <p>Customer service 1</p>
                        </div> -->
                        <div class="footer-con-kefu-bottom-item">
                            <img src="../imgen/10_2.png" alt="">
                            <p>Customer service 1</p>
                        </div>
                        <div class="footer-con-kefu-bottom-item">
                            <img src="../imgen/10_3.png" alt="">
                            <p>Customer service 2</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-text">
                &copy2015-2019 物农科技（深圳）有限公司 All Rights Reserved. <a href="http://www.beian.gov.cn">粤ICP备18036678号</a>
            </div>
        </div>

    </div>

</body>

</html>