<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="../css/enadoption.css">

</head>

<body>
    <!-- 物农认养 -->
    <div class="container">
        <div class="header">

            <div class="header-con">
                <div class="header-logo">
                    <img src="../img/8_1.png" alt="">
                    <p>
                        Wunong China's Practitioner of Order Agriculture
                    </p>
                </div>

                <div class="header-nav">
                    <div class="header-nav-item"><a href="../view/enindex.html"> HOME</a></div>
                    <div class="header-nav-item"><a href="../view/encanteen.html">CATERING</a></div>
                    <div class="header-nav-item"><a href="../view/enbase.html">BASE</a></div>
                    <div class="header-nav-item"><a href="../view/ennews.html">NEWS</a></div>
                    <div class="header-nav-item"><a href="../view/enaboutus.html">ABOUT US</a></div>
                </div>
                <!-- 中英文 -->
                <div class="header-en">
                    [<a href="../view/adoption.html">中文</a><span class="hader-en-sx" style="height: 10px;"></span> <a
                        href="../view/enadoption.html">English</a>]
                </div>
            </div>

        </div>

        <div class=content>
            <div class="content-text">
                Home><span>Wunong Claim Aquaculture</span>
            </div>

            <div class="content-nav">
                <img src="../imgen/5_1.png" alt="">
            </div>

            <div class="content-con">
                <div class="content-con-left">
                    <img src="../imgen/5_2.png" alt="" srcset="">
                </div>

                <a  href="https://mp.weixin.qq.com/s/xSSSFNnbIAi9XFI2xIzrDw" class="content-con-right">
                    <div class="content-con-right-title">
                        The Claim Breeding of local chickens was officially
                        launched.Breed a chicken.The eggs are yours.
                    </div>

                    <div class="content-con-right-con">
                        Wunong’s local chicken Claim Breeding activity officially started! Make sure you have the latest
                        delicious eggs and chicken!
                        <span>[Read All]</span>
                    </div>

                    <div class="content-con-right-bottom">issuing time：2019-06-25</div>
                </a>
            </div>

            <!-- 点击加载更多 -->
            <!-- <div class="content-jiazai">
                加载更多
            </div> -->
        </div>

        <div class="footer">

            <div class="footer-con">

                <div class="footer-con-lxwm">
                    <div class="footer-con-lxwm-header">Contact Us</div>
                    <div class="footer-con-lxwm-con">
                        <div class="footer-con-lxwm-con-left">customer service numbers：</div>
                        <div class="footer-con-lxwm-con-right">400-808-4108</div>
                    </div>
                    <div class="footer-con-lxwm-con">
                        <div class="footer-con-lxwm-con-left">E-mail address：</div>
                        <div class="footer-con-lxwm-con-right"> WNW108@wnw108.com</div>
                    </div>
                    <div class="footer-con-lxwm-address">
                        <p>Company Address :</p>
                        <p>B401, 4th Floor, 12th Building,</p>
                        <p> Zhichuang Matrix Shuangchuang Park,</p>
                        <p> Southern District, Hourui Second Industrial Zone,</p>
                        <p> Hangcheng Street, Baoan District, Shenzhen</p>

                    </div>

                </div>
                <div class="footer-con-gzh">
                    <div class="footer-con-gzh-header">Wunong wechat Public Number</div>
                    <div class="footer-con-gzh-con">
                        <img src="../img/8_9.png" alt="">
                    </div>
                </div>
                <div class="footer-con-kefu">
                    <div class="footer-con-kefu-header">customer service</div>
                    <div class="footer-con-kefu-con">
                        <p>Work hours on weekends and holidays: </p>
                        <p>9：00-18：00</p>
                    </div>
                </div>
            </div>

            <div class="footer-text">
                2015-2016 &copy; 物农科技<sup>TM</sup> wunokeji.com ALL rights reserved.鲁ICP备14030686号-1
            </div>
        </div>

    </div>

</body>

</html>