<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="../css/enbase.css">

</head>

<body>
    <div class="container">

        <div class="header">
            <div class="header-con">
                <a href="../view/enindex.html" class="header-logo">
                    <img src="../img/8_1.png" alt="">
                    <p>
                        Wunong China's Practitioner of Order Agriculture
                    </p>
                </a>

                <div class="header-nav">
                    <div class="header-nav-item"><a href="../view/enindex.html"> HOME</a></div>
                    <div class="header-nav-item"><a href="../view/encanteen.html">CATERING</a></div>
                    <div class="header-nav-item"><a href="../view/enbase.html">BASE</a></div>
                    <div class="header-nav-item"><a href="../view/ennews.html">NEWS</a></div>
                    <div class="header-nav-item"><a href="../view/enaboutus.html">ABOUT US</a></div>
                </div>
                <!-- 中英文 -->
                <div class="header-en">
                    <span class="header-en-span1"> [</span>
                    <a class="header-en-a1" href="../view/base.html">中文</a>
                    <span class="hader-en-sx"></span>
                    <a class="header-en-a2" href="../view/enbase.html">English</a>
                    <span class="header-en-span1">]</span>
                </div>
            </div>

        </div>

        <div class="banner">
            <img class="img1" src="../img/8_2.png" alt="">
            <div class="banner-txt">
                <img class="img2" src="../imgen/3_2.png" alt="">
                <!-- Wunong grain farmer's warehouse is a customized solution for Wunong's "from table to farmhouse" health care products. 
                By ordering agriculture, it can satisfy the residents'various demands for nutritious, delicious, affordable, healthy and safe diet, and realize "tongue-tip freedom". -->
            </div>
        </div>

        <div class="content">
            <div class="content-header">
                <p>Wunong Small Goals(2019-2020)</p>
                <p>All over the country, </p>
                <p>supporting cultivation and breeding bases exceed <span>10,000</span> Mu</p>
                <p>( <span>1000+</span> mu already )</p>
            </div>

            <div class="content-con">
                <div class="content-con-hader">
                    <img src="../imgen/3_1.png" alt="">
                </div>

                <div class="content-con-con">
                    <div class="content-con-con-item">
                        <img src="../img/8_5.png" alt="">
                    </div>
                    <div class="content-con-con-item">
                        <img src="../img/8_6.png" alt="">
                    </div>
                    <div class="content-con-con-item">
                        <img src="../img/8_7.png" alt="">
                    </div>
                    <div class="content-con-con-item">
                        <img src="../img/8_8.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!-- 联系我们 -->

        <div class="fudong">
            <img src="../imgen/1_6.png" alt="">
        </div>
        <div class="footer">

            <div class="footer-con">

                <div class="footer-con-lxwm">
                    <div class="footer-con-lxwm-header">Contact us</div>
                    <div class="footer-con-lxwm-con">
                        <div class="footer-con-lxwm-con-left">Customer service numbers：</div>
                        <div class="footer-con-lxwm-con-right">400-808-4108</div>
                    </div>
                    <div class="footer-con-lxwm-con">
                        <div class="footer-con-lxwm-con-left">E-mail address：</div>
                        <div class="footer-con-lxwm-con-right">
                            <a href="mailto:wnw108@wnw108.com"> WNW108@wnw108.com</a>
                        </div>
                    </div>
                    <div class="footer-con-lxwm-address">
                        <p>Company Address :</p>
                        <p>B401, 4th Floor, 12th Building,</p>
                        <p> Zhichuang Matrix Shuangchuang Park,</p>
                        <p> Southern District, Hourui Second Industrial Zone,</p>
                        <p> Hangcheng Street, Baoan District, Shenzhen</p>

                    </div>

                </div>
                <div class="footer-con-gzh">
                    <div class="footer-con-gzh-header">WeChat Official Account</div>
                    <div class="footer-con-gzh-con">
                        <img src="../img/8_9.png" alt="">
                    </div>
                </div>
                <div class="footer-con-kefu">
                    <div class="footer-con-kefu-header">Customer service</div>
                    <div class="footer-con-kefu-con">
                        <p>Work hours on weekends and holidays: </p>
                        <p>9：00-18：00</p>
                    </div>
                    <div class="footer-con-kefu-bottom">

                        <!-- <div class="footer-con-kefu-bottom-item">
                            <img src="../imgen/10_1.png" alt="">
                            <p>Customer service 1</p>
                        </div> -->
                        <div class="footer-con-kefu-bottom-item">
                            <img src="../imgen/10_2.png" alt="">
                            <p>Customer service 1</p>
                        </div>
                        <div class="footer-con-kefu-bottom-item">
                            <img src="../imgen/10_3.png" alt="">
                            <p>Customer service 2</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-text">
                &copy2015-2019 物农科技（深圳）有限公司 All Rights Reserved. <a href="http://www.beian.gov.cn">粤ICP备18036678号</a>
            </div>
        </div>

    </div>

</body>

</html>