<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="../css/enhomeDepot.css">

</head>

<body>
    <div class="container">
        <div class="header">

            <div class="header-con">
                <div class="header-logo">
                    <img src="../img/8_1.png" alt="">
                    <p>
                        Wunong China's Practitioner of Order Agriculture
                    </p>
                </div>

                <div class="header-nav">
                    <div class="header-nav-item"><a href="../view/enindex.html"> HOME</a></div>
                    <div class="header-nav-item"><a href="../view/encanteen.html">CATERING</a></div>
                    <div class="header-nav-item"><a href="../view/enbase.html">BASE</a></div>
                    <div class="header-nav-item"><a href="../view/ennews.html">NEWS</a></div>
                    <div class="header-nav-item"><a href="../view/enaboutus.html">ABOUT US</a></div>
                </div>
                <!-- 中英文 -->
                <div class="header-en">
                    [<a href="../view/homeDepot.html">中文</a><span class="hader-en-sx" style="height: 10px;"></span> <a
                        href="../view/enhomeDepot.html">English</a>]
                </div>
            </div>

        </div>

        <div class=content>
            <div class="content-text">
                Home><span> Wunong grain farmer's warehouse</span>
            </div>

            <div class="content-nav">
                <img src="../imgen/4_1.png" alt="">
            </div>

            <div class="content-con">
                <div class="content-con-left">
                    <img src="../imgen/4_2.png" alt="" srcset="">
                </div>

                <a href="https://mp.weixin.qq.com/s/Iam--eyUTW6u_qNrRkK1oA" class="content-con-right">
                    <div class="content-con-right-title">

                        June Mango Yellow, Wunong grain farmer's warehouse
                        Invite you to become Community Head

                    </div>

                    <div class="content-con-right-con">
                        Guangxi Baise Jinhuang Mango，Natural maturity, rich fragrance, the head of the community enjoys
                        commission when he applies for group purchase of commodities (mangoes).
                        <span >[Read All]</span>
                    </div>

                    <div class="content-con-right-bottom">issuing time：2019-06-19</div>
                </a>
            </div>
            <div class="content-con">
                <div class="content-con-left">
                    <img src="../imgen/4_3.png" alt="" srcset="">
                </div>

                <a href="https://mp.weixin.qq.com/s/T_CUo93dAPrlG75THaGfBA" class="content-con-right">
                    <div class="content-con-right-title">
                        Strict selection, Wunong grain farmer's warehouse
                        "Baise Mango" tender and juicy meat received high
                        praise.
                    </div>

                    <div class="content-con-right-con">
                        In order to thank customers for their encouragement and support for Wunong, Wunong grain
                        farmer'swarehouse held its first C2F "Baise Mango Subscription"
                        from June 23 to 27.
                        <span >[Read All]</span>
                    </div>

                    <div class="content-con-right-bottom">issuing time：2019-07-05</div>
                </a>
            </div>
            <div class="content-con">
                <div class="content-con-left">
                    <img src="../imgen/4_4.png" alt="" srcset="">
                </div>

                <a href="https://mp.weixin.qq.com/s/2xZ-48wsfPKMdT-fk2omsQ" class="content-con-right">
                    <div class="content-con-right-title">
                        OMG! Wunong grain farmer's warehouse is doing
                        something again ~Pineapple from Xishuangbanna,
                        enjoy it!
                    </div>

                    <div class="content-con-right-con">
                        Wunong grain farmer's warehouse held the second C2F "Xishuangbanna Pineapple" subscription
                        activity from July 15 to 20. It sold only 36.8 yuan for 9 kg.
                        <span >[Read All]</span>
                    </div>

                    <div class="content-con-right-bottom">issuing time：2019-07-14</div>
                </a>
            </div>

            <!-- 点击加载更多 -->
            <!-- <div class="content-jiazai">
                加载更多
            </div> -->
        </div>

        <div class="footer">

            <div class="footer-con">

                <div class="footer-con-lxwm">
                    <div class="footer-con-lxwm-header">Contact Us</div>
                    <div class="footer-con-lxwm-con">
                        <div class="footer-con-lxwm-con-left">customer service numbers：</div>
                        <div class="footer-con-lxwm-con-right">400-808-4108</div>
                    </div>
                    <div class="footer-con-lxwm-con">
                        <div class="footer-con-lxwm-con-left">E-mail address：</div>
                        <div class="footer-con-lxwm-con-right"> WNW108@wnw108.com</div>
                    </div>
                    <div class="footer-con-lxwm-address">
                        <p>Company Address :</p>
                        <p>B401, 4th Floor, 12th Building,</p>
                        <p> Zhichuang Matrix Shuangchuang Park,</p>
                        <p> Southern District, Hourui Second Industrial Zone,</p>
                        <p> Hangcheng Street, Baoan District, Shenzhen</p>

                    </div>

                </div>
                <div class="footer-con-gzh">
                    <div class="footer-con-gzh-header">Wunong wechat Public Number</div>
                    <div class="footer-con-gzh-con">
                        <img src="../img/8_9.png" alt="">
                    </div>
                </div>
                <div class="footer-con-kefu">
                    <div class="footer-con-kefu-header">customer service</div>
                    <div class="footer-con-kefu-con">
                        <p>Work hours on weekends and holidays: </p>
                        <p>9：00-18：00</p>
                    </div>
                </div>
            </div>

            <div class="footer-text">
                2015-2016 &copy; 物农科技<sup>TM</sup> wunokeji.com ALL rights reserved.鲁ICP备14030686号-1
            </div>
        </div>

    </div>

</body>

</html>