<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="../css/enindex.css">
    <link rel="stylesheet" href="../css/swiper-3.3.1.min.css">
    <script src="../js/lib/jquery-2.2.2.min.js"></script>
    <script src="../js/lib/swiper-3.3.1.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="header-logo">
                <img src="../img/1_1.png" alt="">
                <p>
                    Wunong China's Practitioner of Order Agriculture
                </p>
            </div>

            <div class="header-nav">
                <div class="header-nav-item"><a href="../view/enindex.html"> HOME</a></div>
                <div class="header-nav-item"><a href="../view/encanteen.html">CATERING</a></div>
                <div class="header-nav-item"><a href="../view/enbase.html">BASE</a></div>
                <div class="header-nav-item"><a href="../view/ennews.html">NEWS</a></div>
                <div class="header-nav-item"><a href="../view/enaboutus.html">ABOUT US</a></div>
            </div>

            <!-- 中英文 -->
            <div class="header-en">
                [<a href="../view/index.html">中文</a><span class="hader-en-sx" style="height: 10px;"></span>
                <a href="../view/enindex.html">English</a>]
            </div>
        </div>

        <div class="banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <img src="../imgen/1_1.png" alt="">
                    </div>

                    <div class="swiper-slide">
                        <img src="../imgen/1_1_1.jpg" alt="">
                    </div>
                </div>


                <!-- <div class="swiper-pagination"></div> -->
            </div>
        </div>

        <div class="con">
            <div class="con-nav">
                <a href="../view/enhomeDepot.html" class="con-nav-item">
                    <img src="../img/1_9.png" alt="" srcset="">
                    <div class="tex"><span> grain farmer's warehouse</span> Your Cloud Barn</div>
                    <div class="btn">Enter immediately</div>
                </a>
                <a href="../view/enadoption.html" class="con-nav-item">
                    <img src="../img/1_10.png" alt="" srcset="">
                    <div class="tex"><span>Wunong Claim Aquaculture </span>Order farming </div>
                    <div class="btn">Enter immediately</div>
                </a>
                <a href="../view/enrenzhong.html" class="con-nav-item">
                    <img src="../img/1_11.png" alt="" srcset="">
                    <div class="tex"><span>Wunong Claim Planting </span>Order farming</div>
                    <div class="btn">Enter immediately</div>
                </a>
                <a href="../view/enlive.html" class="con-nav-item">
                    <img src="../img/1_12.png" alt="" srcset="">
                    <div class="tex">
                        <span>Wunong Live broadcast </span>
                        <p>Preferred four seasons good products</p>

                    </div>
                    <div class="btn">Enter immediately</div>
                </a>
            </div>

            <!-- 大牌驾到 -->
            <div class="con-dpjd">
                <div class="con-dpjd-nav">
                    <img src="../imgen/1_7.png" alt="" srcset="">
                </div>

                <div class="con-dpjd-banner">
                    <a href="http://life.wnw108.com/customer#/areaPage/1,14,%25E5%25A4%25A7%25E7%2589%258C%25E9%25A9%25BE%25E5%2588%25B0"> <img src="../imgen/1_9.png" alt="" srcset=""></a>
                </div>

                <div class="con-dpjd-sp">
                    <div href="#" class="item">
                        <a class="item-click">
                            <img src="../img/1_40.png" alt="" srcset="">
                            <p>Disney Nuts 108g*2 bags </p>
                            <span>¥32.90</span>
                        </a>
                        <div class="item-hover">
                            <img src="../img/1_1_1.png" alt="" srcset="">
                            <p>Wechat scanner</p>
                            <p>Easy shopping</p>
                        </div>
                    </div>
                    <div href="#" class="item">
                        <a class="item-click">
                            <img src="../img/1_41.png" alt="" srcset="">
                            <p>Disney Daily Rations 20g*4 bags</p>
                            <span>¥14.90-39.90</span>
                        </a>
                        <div class="item-hover">
                            <img src="../img/1_1_2.png" alt="" srcset="">
                            <p>Wechat scanner</p>
                            <p>Easy shopping</p>
                        </div>
                    </div>
                    <div href="#" class="item">
                        <a class="item-click">
                            <img src="../img/1_42.png" alt="" srcset="">
                            <p>Disney Daily Nuts 25g * 30 packs</p>
                            <span>¥139.90</span>
                        </a>
                        <div class="item-hover">
                            <img src="../img/1_1_3.png" alt="" srcset="">
                            <p>Wechat scanner</p>
                            <p>Easy shopping</p>
                        </div>
                    </div>
                    <div href="#" class="item">
                        <a class="item-click">
                            <img src="../img/1_43.png" alt="" srcset="">
                            <p>Duck neck gift box 500g*1 boxes</p>
                            <span>¥49.90</span>
                        </a>
                        <div class="item-hover">
                            <img src="../img/1_1_4.png" alt="" srcset="">
                            <p>Wechat scanner</p>
                            <p>Easy shopping</p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- 新品首发 -->
            <div class="con-xpsf">
                <div class="con-xpsf-nav">
                    <img src="../imgen/1_14.png" alt="" srcset="">
                </div>

                <div class="con-xpsf-banner">
                    <a href="http://life.wnw108.com/customer#/areaPage/1,15,%25E6%2596%25B0%25E5%2593%2581%25E9%25A6%2596%25E5%258F%2591"> <img src="../imgen/1_15.png" alt="" srcset=""></a>
                </div>

                <div class="con-xpsf-sp">
                    <div href="#" class="item">
                        <a class="item-click">
                            <img src="../img/1_45.png" alt="" srcset="">
                            <p>Taiwan grass jelly 310g*4 boxes </p>
                            <span>¥49.90</span>
                        </a>
                        <div class="item-hover">
                            <img src="../img/1_2_1.png" alt="" srcset="">
                            <p>Wechat scanner</p>
                            <p>Easy shopping</p>
                        </div>
                    </div>
                    <div href="#" class="item">
                        <a class="item-click">
                            <img src="../img/1_46.png" alt="" srcset="">
                            <p>Cannabis oil 250ml*1 bottles</p>
                            <span>¥49.90</span>
                        </a>
                        <div class="item-hover">
                            <img src="../img/1_2_2.png" alt="" srcset="">
                            <p>Wechat scanner</p>
                            <p>Easy shopping</p>
                        </div>
                    </div>
                    <div href="#" class="item">
                        <a class="item-click">
                            <img src="../img/1_47.png" alt="" srcset="">
                            <p>Grape 1.5kg* 1 boxes</p>
                            <span>¥56.00</span>
                        </a>
                        <div class="item-hover">
                            <img src="../img/1_2_3.png" alt="" srcset="">
                            <p>Wechat scanner</p>
                            <p>Easy shopping</p>
                        </div>
                    </div>
                    <div href="#" class="item">
                        <a class="item-click">
                            <img src="../img/1_48.png" alt="" srcset="">
                            <p>Muskmelon 3.5kg* 1 boxes</p>
                            <span>¥75.00</span>
                        </a>
                        <div class="item-hover">
                            <img src="../img/1_2_4.png" alt="" srcset="">
                            <p>Wechat scanner</p>
                            <p>Easy shopping</p>
                        </div>
                    </div>
                    <div href="#" class="item">
                        <a class="item-click">
                            <img src="../img/1_49.png" alt="" srcset="">
                            <p>Peach 2.5kg* 1 boxes</p>
                            <span>¥69.90</span>
                        </a>
                        <div class="item-hover">
                            <img src="../img/1_2_5.png" alt="" srcset="">
                            <p>Wechat scanner</p>
                            <p>Easy shopping</p>
                        </div>
                    </div>
                    <div href="#" class="item">
                        <a class="item-click">
                            <img src="../img/1_50.png" alt="" srcset="">
                            <p>Organic rapeseed oil 1L*3 bottles /5L *1 barrels</p>
                            <span>¥99-162</span>
                        </a>
                        <div class="item-hover">
                            <img src="../img/1_2_6.png" alt="" srcset="">
                            <p>Wechat scanner</p>
                            <p>Easy shopping</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--有机生活馆  -->
            <div class="con-yjsh">
                <div class="con-yjsh-nav">
                    <img src="../imgen/1_22.png" alt="" srcset="">
                </div>

                <div class="con-yjsh-banner">
                    <a href="http://life.wnw108.com/customer#/areaPage/1,16,%25E6%259C%2589%25E6%259C%25BA%25E7%2594%259F%25E6%25B4%25BB%25E9%25A6%2586"> <img src="../imgen/1_23.png" alt="" srcset=""></a>
                </div>

                <div class="con-yjsh-sp">
                    <div href="#" class="item">
                        <a class="item-click">
                            <img src="../img/1_51.png" alt="" srcset="">
                            <p>Organic laver 50g*4 bags</p>
                            <span>¥49.90</span>
                        </a>
                        <div class="item-hover">
                            <img src="../img/1_3_1.png" alt="" srcset="">
                            <p>Wechat scanner</p>
                            <p>Easy shopping</p>
                        </div>
                    </div>
                    <div href="#" class="item">
                        <a class="item-click">
                            <img src="../img/1_52.png" alt="" srcset="">
                            <p>Organic Flour 1.5kg*1 bags </p>
                            <span>¥75.00</span>
                        </a>
                        <div class="item-hover">
                            <img src="../img/1_3_2.png" alt="" srcset="">
                            <p>Wechat scanner</p>
                            <p>Easy shopping</p>
                        </div>
                    </div>
                    <div href="#" class="item">
                        <a class="item-click">
                            <img src="../img/1_53.png" alt="" srcset="">
                            <p>Whole wheat flour 1.5kg *1 bags</p>
                            <span>¥78.00</span>
                        </a>
                        <div class="item-hover">
                            <img src="../img/1_3_3.png" alt="" srcset="">
                            <p>Wechat scanner</p>
                            <p>Easy shopping</p>
                        </div>
                    </div>
                    <div href="#" class="item">
                        <a class="item-click">
                            <img src="../img/1_54.png" alt="" srcset="">
                            <p>Whole wheat flour 1.5kg *1 bags</p>
                            <span>¥89.00</span>
                        </a>
                        <div class="item-hover">
                            <img src="../img/1_3_4.png" alt="" srcset="">
                            <p>Wechat scanner</p>
                            <p>Easy shopping</p>
                        </div>
                    </div>
                    <div href="#" class="item">
                        <a class="item-click">
                            <img src="../img/1_55.png" alt="" srcset="">
                            <p>Wugu grain powder 2.5kg*1 bags</p>
                            <span>¥99.00</span>
                        </a>
                        <div class="item-hover">
                            <img src="../img/1_3_5.png" alt="" srcset="">
                            <p>Wechat scanner</p>
                            <p>Easy shopping</p>
                        </div>
                    </div>
                    <div href="#" class="item">
                        <a class="item-click">
                            <img src="../img/1_56.png" alt="" srcset="">
                            <p>Green Juice Powder 4g*50 bags</p>
                            <span>¥108.00</span>
                        </a>
                        <div class="item-hover">
                            <img src="../img/1_3_6.png" alt="" srcset="">
                            <p>Wechat scanner</p>
                            <p>Easy shopping</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 联系我们 -->

        <div class="fudong">
            <img src="../imgen/1_6.png" alt="">
        </div>

        <div class="footer">

            <div class="footer-con">

                <div class="footer-con-lxwm">
                    <div class="footer-con-lxwm-header">Contact Us</div>
                    <div class="footer-con-lxwm-con">
                        <div class="footer-con-lxwm-con-left">customer service numbers：</div>
                        <div class="footer-con-lxwm-con-right">400-808-4108</div>
                    </div>
                    <div class="footer-con-lxwm-con">
                        <div class="footer-con-lxwm-con-left">E-mail address：</div>
                        <div class="footer-con-lxwm-con-right"> WNW108@wnw108.com</div>
                    </div>
                    <div class="footer-con-lxwm-address">
                        <p>Company Address :</p>
                        <p>B401, 4th Floor, 12th Building,</p>
                        <p> Zhichuang Matrix Shuangchuang Park,</p>
                        <p> Southern District, Hourui Second Industrial Zone,</p>
                        <p> Hangcheng Street, Baoan District, Shenzhen</p>

                    </div>

                </div>
                <div class="footer-con-gzh">
                    <div class="footer-con-gzh-header">Wunong wechat Public Number</div>
                    <div class="footer-con-gzh-con">
                        <img src="../img/8_9.png" alt="">
                    </div>
                </div>
                <div class="footer-con-kefu">
                    <div class="footer-con-kefu-header">customer service</div>
                    <div class="footer-con-kefu-con">
                        <p>Work hours on weekends and holidays: </p>
                        <p>9：00-18：00</p>
                    </div>
                </div>
            </div>

            <div class="footer-text">
                2015-2016 &copy; 物农科技<sup>TM</sup> wunokeji.com ALL rights reserved.鲁ICP备14030686号-1
            </div>
        </div>


    </div>
    <script>
        var swiper = new Swiper('.swiper-container', {
            loop: true,
            autoplay: 2500,
            disableOnInteraction: false,
            autoplayDisableOnInteraction: false,
            // pagination: '.swiper-pagination',
        });


        $(".con-dpjd-sp .item").on('mouseover', function () {
            var index = $(this).index();

            $(".con-dpjd-sp .item").eq(index).find('.item-hover').show()
        })

        $(".con-dpjd-sp .item").on('mouseout', function () {
            var index = $(this).index();

            $(".con-dpjd-sp .item").eq(index).find('.item-hover').hide()
        })


        $(".con-xpsf-sp .item").on('mouseover', function () {
            var index = $(this).index();

            $(".con-xpsf-sp .item").eq(index).find('.item-hover').show()
        })

        $(".con-xpsf-sp .item").on('mouseout', function () {
            var index = $(this).index();

            $(".con-xpsf-sp .item").eq(index).find('.item-hover').hide()
        })


        $(".con-yjsh-sp .item").on('mouseover', function () {
            var index = $(this).index();

            $(".con-yjsh-sp .item").eq(index).find('.item-hover').show()
        })

        $(".con-yjsh-sp .item").on('mouseout', function () {
            var index = $(this).index();

            $(".con-yjsh-sp .item").eq(index).find('.item-hover').hide()
        })                      
    </script>
</body>

</html>