<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="../css/homeDepot.css">

</head>

<body>
    <div class="container">
        <div class="header">

            <div class="header-con">
                <a href="../view/index.html" class="header-logo">
                    <img src="../img/8_1.png" alt="">
                    <p> 中国订单农业践行者</p>
                </a>

                <div class="header-nav">
                    <div class="header-nav-item"><a href="../view/index.html"> 首页</a></div>
                    <div class="header-nav-item"><a href="../view/canteen.html">物农食堂</a></div>
                    <div class="header-nav-item"><a href="../view/base.html">物农基地</a></div>
                    <div class="header-nav-item"><a href="../view/news.html">新闻资讯</a></div>
                    <div class="header-nav-item"><a href="../view/aboutus.html">关于我们</a></div>
                </div>
                <!-- 中英文 -->
                <div class="header-en">
                    <span class="header-en-span1"> [</span>
                    <a class="header-en-a2" href="../view/homeDepot.html">中文</a>
                    <span class="hader-en-sx"></span>
                    <a class="header-en-a1" href="../view/enhomeDepot.html">English</a>
                    <span class="header-en-span1">]</span>
                </div>
            </div>

        </div>

        <div class=content>
            <div class="content-text">
                <a href="../view/index.html"> 首页</a>><span>物农家仓</span>
            </div>

            <div class="content-nav">
                <img src="../img/2_1.png" alt="">
            </div>

            <div class="content-con">
                <div class="content-con-left">
                    <img src="../imgen/4_2.png" alt="" srcset="">
                </div>

                <a href="https://mp.weixin.qq.com/s/Iam--eyUTW6u_qNrRkK1oA" class="content-con-right">
                    <div class="content-con-right-title">
                        六月芒果黄，物农家仓邀您成为社区长
                    </div>

                    <div class="content-con-right-con">
                        广西百色金煌芒果,自然成熟、香味浓郁，社区长申请商品（芒果）进行团购后，即享有佣金。
                        <span>[阅读全文]</span>
                    </div>
                    <div class="content-con-right-bottom">发布时间：2019-06-19</div>
                </a>
            </div>
            <div class="content-con">
                <div class="content-con-left">
                    <img src="../imgen/4_3.png" alt="" srcset="">
                </div>

                <a href="https://mp.weixin.qq.com/s/T_CUo93dAPrlG75THaGfBA" class="content-con-right">
                    <div class="content-con-right-title">
                        严把关精挑选，物农家仓“百色芒果”肉嫩多汁获好评
                    </div>

                    <div class="content-con-right-con">
                        为了感谢广大客户一路走来对于物农网的鼓励与支持，物农家仓于 6 月 23 日-27 日举办了首次 C2F“百
                        色芒果认购”活动
                        <span>[阅读全文]</span>
                    </div>

                    <div class="content-con-right-bottom">发布时间：2019-07-05</div>

                </a>
            </div>
            <div class="content-con">
                <div class="content-con-left">
                    <img src="../imgen/4_4.png" alt="" srcset="">
                </div>

                <a href="https://mp.weixin.qq.com/s/2xZ-48wsfPKMdT-fk2omsQ" class="content-con-right">
                    <div class="content-con-right-title">
                        OMG！物农家仓又搞事情啦~来自西双版纳的凤梨，盘它！

                    </div>

                    <div class="content-con-right-con">
                        物农家仓又于 7 月 15 日-20 日举办第二期 C2F“西双版纳凤梨”认购活动，9 斤重仅售 36.8 元。

                        <span>[阅读全文]</span>
                    </div>

                    <div class="content-con-right-bottom">发布时间：2019-07-14</div>
                </a>
            </div>


            <!-- 点击加载更多 -->
            <!-- <div class="content-jiazai">
                加载更多
            </div> -->
        </div>

        <!-- 联系我们 -->

        <div class="fudong">
            <img src="../img/1_15.png" alt="">
        </div>
        <div class="footer">

            <div class="footer-con">

                <div class="footer-con-lxwm">
                    <div class="footer-con-lxwm-header">联系我们</div>
                    <div class="footer-con-lxwm-con">
                        <div class="footer-con-lxwm-con-left">客服电话</div>
                        <div class="footer-con-lxwm-con-right">400-808-4108</div>
                    </div>
                    <div class="footer-con-lxwm-con">
                        <div class="footer-con-lxwm-con-left">邮箱地址</div>
                        <div class="footer-con-lxwm-con-right">
                            <a href="mailto:wnw108@wnw108.com"> WNW108@wnw108.com</a>
                        </div>
                    </div>
                    <div class="footer-con-lxwm-con">
                        <div class="footer-con-lxwm-con-left">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址</div>
                        <div class="footer-con-lxwm-con-right">
                            深圳市宝安区航程街道后瑞第二工业区南区 智创矩阵双创园第12栋第4楼B401
                        </div>
                    </div>

                </div>
                <div class="footer-con-gzh">
                    <div class="footer-con-gzh-header">物农网公众号</div>
                    <div class="footer-con-gzh-con">
                        <img src="../img/8_9.png" alt="">
                    </div>
                </div>
                <div class="footer-con-kefu">
                    <div class="footer-con-kefu-header">客服工作时间</div>
                    <div class="footer-con-kefu-con">
                        <p>周一至周日9:00-18:00</p>
                    </div>

                    <div class="footer-con-kefu-bottom">
                        <!-- <div class="footer-con-kefu-bottom-item">
                            <img src="../imgen/10_1.png" alt="">
                            <p>售后客服</p>
                        </div> -->
                        <div class="footer-con-kefu-bottom-item">
                            <img src="../imgen/10_2.png" alt="">
                            <p>客服小九</p>
                        </div>
                        <div class="footer-con-kefu-bottom-item">
                            <img src="../imgen/10_3.png" alt="">
                            <p>客服小七</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-text">

                &copy2015-2019 物农科技（深圳）有限公司 All Rights Reserved. <a href="http://www.beian.gov.cn">粤ICP备18036678号</a>
            </div>
        </div>
    </div>

</body>

</html>