<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/swiper-3.3.1.min.css">
    <script src="../js/lib/jquery-2.2.2.min.js"></script>
    <script src="../js/lib/swiper-3.3.1.min.js"></script>

</head>

<body>
    <div class="container">
        <div class="header">
            <div class="header-logo">
                <img src="../img/1_1.png" alt="">
                <p> 中国订单农业践行者</p>
            </div>

            <div class="header-nav">
                <div class="header-nav-item"><a href="../view/index.html"> 首页</a></div>
                <div class="header-nav-item"><a href="../view/canteen.html">务农食堂</a></div>
                <div class="header-nav-item"><a href="../view/base.html">务农基地</a></div>
                <div class="header-nav-item"><a href="../view/news.html">新闻资讯</a></div>
                <div class="header-nav-item"><a href="../view/aboutus.html">关于我们</a></div>
            </div>

            <!-- 中英文 -->
            <div class="header-en">
                [<a href="../view/index.html">中文</a><span class="hader-en-sx" style="height: 10px;"></span> <a
                    href="../view/enindex.html">English</a>]
            </div>
        </div>

        <div class="banner">

            <div class="swiper-container">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <img src="../img/1_2.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="../img/1_57.jpg" alt="">
                    </div>

                </div>


                <!-- <div class="swiper-pagination"></div> -->
            </div>

        </div>

        <div class="con">
            <div class="con-nav">
                <a href="../view/homeDepot.html" class="con-nav-item">
                    <img src="../img/1_9.png" alt="" srcset="">
                    <div class="tex">物农家仓-您的云端粮仓</div>
                    <div class="btn">立即进入</div>
                </a>
                <a href="../view/adoption.html" class="con-nav-item">
                    <img src="../img/1_10.png" alt="" srcset="">
                    <div class="tex">物农认养-订单农业</div>
                    <div class="btn">立即进入</div>
                </a>
                <a href="../view/renzhong.html" class="con-nav-item">
                    <img src="../img/1_11.png" alt="" srcset="">
                    <div class="tex">物农认种-订单农业</div>
                    <div class="btn">立即进入</div>
                </a>
                <a href="../view/live.html" class="con-nav-item">
                    <img src="../img/1_12.png" alt="" srcset="">
                    <div class="tex">物农直播-优选四季好货</div>
                    <div class="btn">立即进入</div>
                </a>
            </div>

            <!-- 大牌驾到 -->
            <div class="con-dpjd">
                <div class="con-dpjd-nav">
                    <img src="../img/1_16.png" alt="" srcset="">
                </div>

                <div class="con-dpjd-banner">
                    <a href="http://life.wnw108.com/customer#/areaPage/1,14,%25E5%25A4%25A7%25E7%2589%258C%25E9%25A9%25BE%25E5%2588%25B0"> <img src="../img/1_38.png" alt="" srcset=""></a>
                </div>

                <div class="con-dpjd-sp">
                    <div href="#" class="item">
                        <a class="item-click">
                            <img src="../img/1_40.png" alt="" srcset="">
                            <p>迪士尼【坚果脆坚果立 方3种口味】108g*2袋</p>
                            <span>¥32.90</span>
                        </a>
                        <div class="item-hover">
                            <img src="../img/1_1_1.png" alt="" srcset="">
                            <p>扫一扫</p>
                            <p>轻松购</p>
                        </div>
                    </div>
                    <div href="#" class="item">
                        <a class="item-click">
                            <img src="../img/1_41.png" alt="" srcset="">
                            <p>
                                迪士尼【每日口粮系列7
                                款单品】20g*4袋/38
                            </p>
                            <span>¥14.90-39.90</span>
                        </a>
                        <div class="item-hover">
                            <img src="../img/1_1_2.png" alt="" srcset="">
                            <p>扫一扫</p>
                            <p>轻松购</p>
                        </div>
                    </div>
                    <div href="#" class="item">
                        <a class="item-click">
                            <img src="../img/1_42.png" alt="" srcset="">
                            <p>
                                迪士尼【每日坚果9种单
                                品】25g*30包
                            </p>
                            <span>¥139.90</span>
                        </a>
                        <div class="item-hover">
                            <img src="../img/1_1_3.png" alt="" srcset="">
                            <p>扫一扫</p>
                            <p>轻松购</p>
                        </div>
                    </div>
                    <div href="#" class="item">
                        <a class="item-click">
                            <img src="../img/1_43.png" alt="" srcset="">
                            <p>
                                正大【开心鸭礼盒装】
                                500g*1盒
                            </p>
                            <span>¥49.90</span>
                        </a>
                        <div class="item-hover">
                            <img src="../img/1_1_4.png" alt="" srcset="">
                            <p>扫一扫</p>
                            <p>轻松购</p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- 新品首发 -->
            <div class="con-xpsf">
                <div class="con-xpsf-nav">
                    <img src="../img/1_21.png" alt="" srcset="">
                </div>

                <div class="con-xpsf-banner">
                    <a href="http://life.wnw108.com/customer#/areaPage/1,15,%25E6%2596%25B0%25E5%2593%2581%25E9%25A6%2596%25E5%258F%2591"> <img src="../img/1_37.png" alt="" srcset=""></a>
                </div>

                <div class="con-xpsf-sp">
                    <div href="#" class="item">
                        <a class="item-click">
                            <img src="../img/1_45.png" alt="" srcset="">
                            <p>
                                仙草凉凉【台湾烧仙草】
                                310g*4盒
                            </p>
                            <span>¥49.90</span>
                        </a>
                        <div class="item-hover">
                            <img src="../img/1_2_1.png" alt="" srcset="">
                            <p>扫一扫</p>
                            <p>轻松购</p>
                        </div>
                    </div>
                    <div href="#" class="item">
                        <a class="item-click">
                            <img src="../img/1_46.png" alt="" srcset="">
                            <p>
                                百岁老人【火麻油】250
                                ml*1瓶
                            </p>
                            <span>¥49.90</span>
                        </a>
                        <div class="item-hover">
                            <img src="../img/1_2_2.png" alt="" srcset="">
                            <p>扫一扫</p>
                            <p>轻松购</p>
                        </div>
                    </div>
                    <div href="#" class="item">
                        <a class="item-click">
                            <img src="../img/1_47.png" alt="" srcset="">
                            <p>
                                盛斋【藤稔葡萄】1.5kg
                                *1箱
                            </p>
                            <span>¥56.00</span>
                        </a>
                        <div class="item-hover">
                            <img src="../img/1_2_3.png" alt="" srcset="">
                            <p>扫一扫</p>
                            <p>轻松购</p>
                        </div>
                    </div>
                    <div href="#" class="item">
                        <a class="item-click">
                            <img src="../img/1_48.png" alt="" srcset="">
                            <p>
                                欣农【金飞香瓜】3.5kg
                                *1箱
                            </p>
                            <span>¥75.00</span>
                        </a>
                        <div class="item-hover">
                            <img src="../img/1_2_4.png" alt="" srcset="">
                            <p>扫一扫</p>
                            <p>轻松购</p>
                        </div>
                    </div>
                    <div href="#" class="item">
                        <a class="item-click">
                            <img src="../img/1_49.png" alt="" srcset="">
                            <p>永宏【蟠桃】2.5kg*1箱</p>
                            <span>¥69.90</span>
                        </a>
                        <div class="item-hover">
                            <img src="../img/1_2_5.png" alt="" srcset="">
                            <p>扫一扫</p>
                            <p>轻松购</p>
                        </div>
                    </div>
                    <div href="#" class="item">
                        <a class="item-click">
                            <img src="../img/1_50.png" alt="" srcset="">
                            <p>
                                朱鹮湖【有机菜籽油】
                                1L*3瓶/5L*1桶
                            </p>
                            <span>¥99-162</span>
                        </a>
                        <div class="item-hover">
                            <img src="../img/1_2_6.png" alt="" srcset="">
                            <p>扫一扫</p>
                            <p>轻松购</p>
                        </div>
                    </div>

                </div>
            </div>

            <!--有机生活馆  -->
            <div class="con-yjsh">
                <div class="con-yjsh-nav">
                    <img src="../img/1_26.png" alt="" srcset="">
                </div>

                <div class="con-yjsh-banner">
                    <a href="http://life.wnw108.com/customer#/areaPage/1,16,%25E6%259C%2589%25E6%259C%25BA%25E7%2594%259F%25E6%25B4%25BB%25E9%25A6%2586"> <img src="../img/1_36.png" alt="" srcset=""></a>
                </div>

                <div class="con-yjsh-sp">
                    <div href="#" class="item">
                        <a class="item-click">
                            <img src="../img/1_51.png" alt="" srcset="">
                            <p>
                                优滋美【有机紫菜】50
                                g*4包
                            </p>
                            <span>¥49.90</span>
                        </a>
                        <div class="item-hover">                            
                                <img src="../img/1_3_1.png" alt="" srcset="">
                                <p>扫一扫</p>
                                <p>轻松购</p>
                            </div>
                    </div>
                    <div href="#" class="item">
                        <a class="item-click">
                            <img src="../img/1_52.png" alt="" srcset="">
                            <p>
                                三秋优谷【有机野旱麦
                                石磨精粉】1.5kg*1袋
                            </p>
                            <span>¥75.00</span>
                        </a>
                        <div class="item-hover">                            
                                <img src="../img/1_3_2.png" alt="" srcset="">
                                <p>扫一扫</p>
                                <p>轻松购</p>
                            </div>
                    </div>
                    <div href="#" class="item">
                        <a class="item-click">
                            <img src="../img/1_53.png" alt="" srcset="">
                            <p>
                                三秋优谷【有机野旱麦
                                石磨全麦面粉】1.5...
                            </p>
                            <span>¥78.00</span>
                        </a>
                        <div class="item-hover">                            
                                <img src="../img/1_3_3.png" alt="" srcset="">
                                <p>扫一扫</p>
                                <p>轻松购</p>
                            </div>
                    </div>
                    <div href="#" class="item">
                        <a class="item-click">
                            <img src="../img/1_54.png" alt="" srcset="">
                            <p>
                                浩良河【原生态东北有机
                                大米】5kg*1盒
                            </p>
                            <span>¥89.00</span>
                        </a>
                        <div class="item-hover">                            
                                <img src="../img/1_3_4.png" alt="" srcset="">
                                <p>扫一扫</p>
                                <p>轻松购</p>
                            </div>
                    </div>
                    <div href="#" class="item">
                        <a class="item-click">
                            <img src="../img/1_55.png" alt="" srcset="">
                            <p>
                                蛙声小镇【有机石磨五
                                谷粉】2.5kg*1袋
                            </p>
                            <span>¥99.00</span>
                        </a>
                        <div class="item-hover">                            
                                <img src="../img/1_3_5.png" alt="" srcset="">
                                <p>扫一扫</p>
                                <p>轻松购</p>
                            </div>
                    </div>
                    <div href="#" class="item">
                        <a class="item-click">
                            <img src="../img/1_56.png" alt="" srcset="">
                            <p>
                                东奥食品【有机大麦若
                                叶青汁粉】4g*50袋
                            </p>
                            <span>¥108.00</span>
                        </a>
                        <div class="item-hover">                            
                                <img src="../img/1_3_6.png" alt="" srcset="">
                                <p>扫一扫</p>
                                <p>轻松购</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 联系我们 -->

        <div class="fudong">
            <img src="../img/1_15.png" alt="">
        </div>


        <div class="footer">

            <div class="footer-con">

                <div class="footer-con-lxwm">
                    <div class="footer-con-lxwm-header">联系我们</div>
                    <div class="footer-con-lxwm-con">
                        <div class="footer-con-lxwm-con-left">客服电话</div>
                        <div class="footer-con-lxwm-con-right">400-808-4108</div>
                    </div>
                    <div class="footer-con-lxwm-con">
                        <div class="footer-con-lxwm-con-left">邮箱地址</div>
                        <div class="footer-con-lxwm-con-right">WNW108@wnw108.com</div>
                    </div>
                    <div class="footer-con-lxwm-con">
                        <div class="footer-con-lxwm-con-left">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址</div>
                        <div class="footer-con-lxwm-con-right">
                            深圳市宝安区航程街道后瑞第二工业区南区 智创矩阵双创园第12栋第4楼B401
                        </div>
                    </div>

                </div>
                <div class="footer-con-gzh">
                    <div class="footer-con-gzh-header">物农网公众号</div>
                    <div class="footer-con-gzh-con">
                        <img src="../img/8_9.png" alt="">
                    </div>
                </div>
                <div class="footer-con-kefu">
                    <div class="footer-con-kefu-header">客服工作时间</div>
                    <div class="footer-con-kefu-con">
                        <p>周一至周日9:00-20:00</p>
                    </div>
                </div>
            </div>

            <div class="footer-text">

                2015-2016 &copy; 物农科技<sup>TM</sup> wunokeji.com ALL rights reserved.鲁ICP备14030686号-1
            </div>
        </div>

        <script>
            var swiper = new Swiper('.swiper-container', {
                loop: true,
                autoplay: 2500,
                disableOnInteraction: false,
                autoplayDisableOnInteraction: false,
                // pagination: '.swiper-pagination',
            });


            $(".con-dpjd-sp .item").on('mouseover', function () {
                var index = $(this).index();

                $(".con-dpjd-sp .item").eq(index).find('.item-hover').show()
            })

            $(".con-dpjd-sp .item").on('mouseout', function () {
                var index = $(this).index();

                $(".con-dpjd-sp .item").eq(index).find('.item-hover').hide()
            })


            $(".con-xpsf-sp .item").on('mouseover', function () {
                var index = $(this).index();

                $(".con-xpsf-sp .item").eq(index).find('.item-hover').show()
            })

            $(".con-xpsf-sp .item").on('mouseout', function () {
                var index = $(this).index();

                $(".con-xpsf-sp .item").eq(index).find('.item-hover').hide()
            })


            $(".con-yjsh-sp .item").on('mouseover', function () {
                var index = $(this).index();

                $(".con-yjsh-sp .item").eq(index).find('.item-hover').show()
            })

            $(".con-yjsh-sp .item").on('mouseout', function () {
                var index = $(this).index();

                $(".con-yjsh-sp .item").eq(index).find('.item-hover').hide()
            })                      
        </script>
</body>

</html>