<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="../css/news.css">

</head>

<body>
    <div class="container">
        <div class="header">

            <div class="header-con">
                <div class="header-logo">
                    <img src="../img/8_1.png" alt="">
                    <p> 中国订单农业践行者</p>
                </div>

                <div class="header-nav">
                    <div class="header-nav-item"><a href="../view/index.html"> 首页</a></div>
                    <div class="header-nav-item"><a href="../view/canteen.html">务农食堂</a></div>
                    <div class="header-nav-item"><a href="../view/base.html">务农基地</a></div>
                    <div class="header-nav-item"><a href="../view/news.html">新闻资讯</a></div>
                    <div class="header-nav-item"><a href="../view/aboutus.html">关于我们</a></div>
                </div>
                <!-- 中英文 -->
                <div class="header-en">
                    [<a href="../view/news.html">中文</a><span class="hader-en-sx" style="height: 10px;"></span> <a
                        href="../view/ennews.html">English</a>]
                </div>
            </div>

        </div>

        <div class=content>

            <div class="content-nav">
                <img src="../img/6_1.png" alt="">
            </div>
            <!-- 物农科技跃龙门1 2019-07-05-->
            <div class="content-con">
                <div class="content-con-left">
                    <img src="../img/6_7.png" alt="" srcset="">
                </div>

                <a  href="https://mp.weixin.qq.com/s/oIonvGsBBAM2DgB9mbGxrQ" class="content-con-right">
                    <div class="content-con-right-title">
                        物农科技跃龙门
                    </div>

                    <div class="content-con-right-con">
                        2019年6月30日至7月1日，物农科技第三届全国董事长大会以“物农科技跃龙门”为
                        主题，在深圳物农科技总部圆满召开 。
                        <span>[阅读全文]</span>
                    </div>

                    <div class="content-con-right-bottom">发布时间：2019-07-05</div>
                </a>
            </div>

            <!-- 物农优品闪亮上线，3个步骤教你如何分享赚佣金2  2019-07-05-->
            <div class="content-con">
                <div class="content-con-left">
                    <img src="../imgen/6_8.png" alt="" srcset="">
                </div>

                <a href="https://mp.weixin.qq.com/s/zx8jHOfntGi41XjkBJWzBQ" class="content-con-right">
                    <div class="content-con-right-title">
                        物农优品闪亮上线，3个步骤教你如何分享赚佣金
                    </div>

                    <div class="content-con-right-con">
                        2019年7月4日00:00对于物农网来说是一个特殊的时刻，因为物农网的新商城物农优品闪亮上线啦
                        <span >[阅读全文]</span>
                    </div>

                    <div class="content-con-right-bottom">发布时间：2019-07-05</div>
                </a>
            </div>
            <!-- 物农科技“第八届全国农产品推介会”在西安曲江成功3 2018-11-22-->
            <div class="content-con">
                <div class="content-con-left">
                    <img src="../imgen/6_7.png" alt="" srcset="">
                </div>

                <a href="https://mp.weixin.qq.com/s/4GNPppDIV1cKuQcGPiY7Ug" class="content-con-right">
                    <div class="content-con-right-title">
                        物农科技“第八届全国农产品推介会”在西安曲江成功
                    </div>

                    <div class="content-con-right-con">
                        2018 年 11 月 20 日，由物农科技（深圳）有限公司举办的“第八届全国农产品推介会”在西安市曲江
                        国际会议中心成功召开
                        <span >[阅读全文]</span>
                    </div>

                    <div class="content-con-right-bottom">发布时间： 2018-11-22</div>
                </a>
            </div>

            <!-- 密山市市委书记张书记一行莅临物农科技总部参观指导工作4 2018-11-07-->
            <div class="content-con">
                <div class="content-con-left">
                    <img src="../imgen/6_4.png" alt="" srcset="">
                </div>

                <a href="https://mp.weixin.qq.com/s/r0tI_DEnCYVlPQdWJ77VkQ" class="content-con-right">
                    <div class="content-con-right-title">
                        密山市市委书记张书记一行莅临物农科技总部参观指导工作
                    </div>

                    <div class="content-con-right-con">
                        2018 年 11 月 2 日下午，黑龙江省密山市市委书记张书记一行莅临物农科技总部参观指导工作。
                        <span>[阅读全文]</span>
                    </div>

                    <div class="content-con-right-bottom">发布时间：2018-11-07</div>
                </a>
            </div>
            <!-- 物农科技首届供应商大会圆满成功5  2018-09-24-->
            <div class="content-con">
                <div class="content-con-left">
                    <img src="../imgen/6_2.png" alt="" srcset="">
                </div>

                <a href="https://mp.weixin.qq.com/s/w1vW4FTNHTkri3L09COy-w" class="content-con-right">
                    <div class="content-con-right-title">
                        物农科技首届供应商大会圆满成功
                    </div>

                    <div class="content-con-right-con">
                        2018年9月21-22日物农科技首届供应商大会在深圳召开，来自全国20余个省市地区的物
                        农网产品供应商参加了此次会议
                        <span>[阅读全文]</span>
                    </div>

                    <div class="content-con-right-bottom">发布时间：2018-09-24</div>
                </a>
            </div>

            <!-- “物农科技第七届全国农产品推介会”在陕举行6  2018-09-01 -->
            <div class="content-con">
                <div class="content-con-left">
                    <img src="../imgen/6_5.png" alt="" srcset="">
                </div>

                <a href="https://mp.weixin.qq.com/s/fl8V9Q4wYwojJtMEefcI_A" class="content-con-right">
                    <div class="content-con-right-title">
                        物农科技第七届全国农产品推介会在陕举行
                    </div>

                    <div class="content-con-right-con">
                        物农网第七届全国农产品推介会于2018年8月21日在陕西宝鸡闭幕，此次会议被定义为
                        物农网发展史上的分水岭和转折点。
                        <span>[阅读全文]</span>
                    </div>

                    <div class="content-con-right-bottom">发布时间：2018-09-01</div>
                </a>
            </div>

            <!-- 物农科技第六届全国农产品推介会顺利在郑州召开7！  2018-07-05 -->
            <div class="content-con">
                <div class="content-con-left">
                    <img src="../imgen/6_6.png" alt="" srcset="">
                </div>

                <a  href="https://mp.weixin.qq.com/s/d1v2eyBNFG87z5OzxLIPJg" class="content-con-right">
                    <div class="content-con-right-title">
                        物农科技第六届全国农产品推介会顺利在郑州召开！
                    </div>

                    <div class="content-con-right-con">
                        刚迈入2018年下半年，7月2日，在这么一个天朗气清、惠风和畅的日子，物农科技第六
                        届农产品推介会顺利在郑州召开，并且取得了圆满成功！

                        <span>[阅读全文]</span>
                    </div>

                    <div class="content-con-right-bottom">发布时间：2019-07-05</div>
                </a>
            </div>

            <!-- 点击加载更多 -->
            <!-- <div class="content-jiazai">
                加载更多
            </div> -->
        </div>

        <div class="footer">

            <div class="footer-con">

                <div class="footer-con-lxwm">
                    <div class="footer-con-lxwm-header">联系我们</div>
                    <div class="footer-con-lxwm-con">
                        <div class="footer-con-lxwm-con-left">客服电话</div>
                        <div class="footer-con-lxwm-con-right">400-808-4108</div>
                    </div>
                    <div class="footer-con-lxwm-con">
                        <div class="footer-con-lxwm-con-left">邮箱地址</div>
                        <div class="footer-con-lxwm-con-right">WNW108@wnw108.com</div>
                    </div>z
                    <div class="footer-con-lxwm-con">
                        <div class="footer-con-lxwm-con-left">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址</div>
                        <div class="footer-con-lxwm-con-right">
                            深圳市宝安区航程街道后瑞第二工业区南区 智创矩阵双创园第12栋第4楼B401
                        </div>
                    </div>

                </div>
                <div class="footer-con-gzh">
                    <div class="footer-con-gzh-header">物农网公众号</div>
                    <div class="footer-con-gzh-con">
                        <img src="../img/8_9.png" alt="">
                    </div>
                </div>
                <div class="footer-con-kefu">
                    <div class="footer-con-kefu-header">客服工作时间</div>
                    <div class="footer-con-kefu-con">
                        <p>周一至周日9:00-20:00</p>
                    </div>
                </div>
            </div>

            <div class="footer-text">

                2015-2016 &copy; 物农科技<sup>TM</sup> wunokeji.com ALL rights reserved.鲁ICP备14030686号-1
            </div>
        </div>
    </div>

</body>

</html>